node_modules/
# Security
secrets/private_key.pem
ssl/
/venv


# Byte-compiled / optimized / compiled files
__pycache__/
*.pyc
*.pyd
*.pyo

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
*.egg

# Environments
.env
venv/
env/

# Editors
.vscode/
.idea/

# Logs and temp files
*.log
*.tmp